body {
    background: linear-gradient(to right, #fff 50%, #2672B8 50%);
    margin: 0;
    height: 100vh; /* Ensures the body takes full viewport height */
}

p{
    color: red;
}

.white-greeting{
    /* color: #fff; */
}

.welcome-message{
    position: relative;
    left: 4.5rem;
    font-size: 68px;
}

.welcome-message-container{
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    /* height: 100vh;    */
}

.login-form-container{
    border: 1px solid;
    width: 350px;
    position: relative;
    left: 10px;
    border-radius: 20px;
}

.login-form{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: center; 
    gap: 1rem;

}

.form-label{
    font-size: 25px;
}

.form-input-box{
    width: 300px;
    height: 30px;
    background-color: #F2F2F2;
    border: 1px solid #000;
    border-radius: 50px;
}

.forgot-password-link-and-login-button-container{
    display: flex;
    gap: 4rem;
}

.login-button{
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #2672B8;
    color: #fff;
    width: 94px;
}